[Unit]
Description=API Gateway Service Application
After=network.target

[Service]
Environment="QUOTES_API=http://35.209.203.232"
User=mmartinez18
WorkingDirectory=/home/mmartinez18/SimpleMicroService/ApiGateway/
ExecStart=npm run start
Restart=always

[Install]
WantedBy=multi-user.target
