[Unit]
Description=Quote Service Application
After=network.target

[Service]
User=mattm12525
WorkingDirectory=/home/mattm12525/SimpleMicroService/QuoteService/
ExecStart=/home/mattm12525/SimpleMicroService/QuoteService/venv/bin/python /home/mattm12525/SimpleMicroService/QuoteService/main.py
Restart=always

[Install]
WantedBy=multi-user.target
